<div>
  {{#each this}}
    <div class="card">
      <h3 class="card-header"></h3>
      <section class="card-body">

        <div class="text" name="commentText">
          {{comment_text}}
        </div>
        <div class="meta">
          {{format_date created_at}}
        </div>
        <div>
          <button
            type="button"
            class="deleteCommentBtn btn"
            class="btn"
            id="{{id}}"
          >Delete</button>

        </div>
      </section>
    </div>
  {{/each}}
</div>

<script src="/JS/deleteComment.js"></script>