{{!-- <div class="card">
  <h3 class="card-header">Create New Post</h3>
  <form class="card-body newPostForm" id="newPostForm">
    <label class="form-label">Title</label>
    <input type="text" id="postTitle" /> --}}

    <div class="card">
      <h3 class="card-header">Create New Post</h3>
      <div class="form-group col-md-10 offset-1">
      <form class="card-body newPostForm" id="newPostForm">

        <label for="postTitle" class="form-label mt-4">Title:</label>
        <textarea class="form-control" id="postTitle" rows="3"></textarea>
  </div>
    </div>

     {{!-- <label class="form-label" for="content">Content</label>
    <input id="content" name="content" class="form-input" />  --}}


    <div class="form-group col-md-10 offset-1">


      <label for="content" class="form-label mt-4">Content:</label>
      <textarea
        class="form-control"
        id="content"
        name="content"
        rows="5"
      ></textarea>
    </div>
    <button type="submit" class=" form-group col-md-1 offset-1 btn btn-dark mt-2">Create</button>
    {{! <button type="submit" class="btn">Create</button> }}
  </form>
</div>

<script src="/JS/newPost.js"></script>