{{> postInfo post }}
{{> comments post.comments}}

<div class="card">
    <h3 class="card-header"></h3>
    <form class="card-body commentForm" id="commentForm">

        <label class="form-label">Comment</label>
        <input id="comment" name="commentBody" class="formInput" />

        <button type="submit" id="commentBtn" class="btn">Submit</button>
                

    </form>
</div>
<div>
        <button type="button" class="deletePostBtn btn" class="btn">Delete</button>

</div>

<div class="card">
  <h3 class="card-header">Edit Post</h3>
  <form class="card-body editPostForm">
    <label class="form-label">Title</label>
    <input type="text" name="post-title" value="{{post.title}}" class="form-input" />
    <label class="form-label" for="content">Content</label>
    <input
      name="content"
      type="text"
      value="{{post.content}}"
      class="form-input"
    />
    <button type="button" class="editPostBtn btn" >Update</button>
  </form>
</div>

{{!-- needs javascript for delete post --}}
<script src="/JS/deletePost.js"></script>

{{!-- needs javascript for comment submit --}}
<script src="/JS/newComment.js"></script>

{{!-- needs javascript for comment submit --}}
<script src="/JS/editPost.js"></script>


