{{> postInfo post }}
{{> comments post.comments}}

<div class="card">
    <h3 class="card-header"></h3>
    <form class="card-body commentForm" id="commentForm">

        <label class="form-label">Comment</label>
        <input id="comment" name="commenBody" class="formInput" />

        <button type="submit" class="btn">Submit</button>
                

    </form>
</div>
<div>
    <button type="button" id="editPostBtn" class="btn">Edit</button>
        <button type="button" class="deletePostBtn" class="btn">Delet</button>

</div>


{{!-- needs javascript for comment submit --}}
<script src="/JS/deletePost.js"></script>


<script>

   function redirect () {
      
       document.location.replace("/api/posts/editPost")
   }

document.querySelector("#editPostBtn").addEventListener("click", redirect);


</script>
{{!-- needs javascript for comment submit --}}
<script src="/JS/newComment.js">